<h1>Add Comments</h1>
<%= form_for ([@disaster, @comments]) do |c| %>
  <div class="form-group">
    <%= c.label :Comments, class: "control-label" %>
    <%= c.text_area :users_comment, class: "form-control", placeholder: "Type here..", rows: "5" %>
  </div>
  <%= c.submit "Save Comment", class: "btn btn-primary" %>
<% end %>
