<h1>Comments</h1>
<hr>
<% @disaster.comments.each do |comment| %>
  <div class="row">
    <div class="col-sm-11">
      <div class="form-group">
        <% if author? %>
          <label>Author</label><br>
        <% else %>
          <label><%= comment.user.email %></label><br>
        <% end %>
        <p><%= comment.users_comment %></p>
      </div>
    </div>
    <div class="col-sm-1">
      <% if author? %>
        <%= link_to "X",disaster_comment_path(@disaster,comment),method: :delete,data:{confirm: "Are you sure to delete?"},class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
